<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>微电影拍摄协议书</title>
		<style type="text/css">
			*{margin: 0; padding: 0;}
			body{font-family:"Microsoft Yahei"; padding: 20px; background-color: #FFFFFF;}
			h1{text-align: center; padding-top: 30px;}
			img{display: block; margin: 10px auto; width: 20%;}
			p{text-indent: 2em;}
			.line{margin: 50px auto; width: 80%; padding: 20px; border-top: 1px dotted #AAAAAA; color: #AAAAAA; text-align: center;}
		</style>
		
	</head>
	<body>
		
		<h1>微电影拍摄协议</h1>
		<img src="{$img}"  />
		<br />
		<p>甲方： 预约拍摄用户</P>
		<p>乙方： 北京中天摇篮网络科技有限公司</p>
		<p>本着甲乙双方利益的互赢，甲乙两方达成一致并遵照《中华人民共和国合同法》之规定签订此协议。</p>
		<p>1、甲方因个人需要与乙方 "北京中天摇篮网络科技有限公司"下属"小蜗牛母婴电影"摄制组签订此次摄影、摄像的制作协议。</p>
		<p>2、乙方按照甲方要求拍摄制，并达到甲方的基本要求。</p>
		<p>3、甲方负责投入资金、组织人力，乙方负责实施该视频的策划、拍摄及后期制作。</p>
		<p>4、经甲乙双方约定拍摄地点、拍摄时间需提前7个工作日预约，乙方提前到达调试设备。</p>
		<p>5、视频的后期制作全权由乙方负责制作，乙方只承担拍摄到最后成片。视频制作完成后，视频的版权及发行权归于甲方。</p>
		<p>6、经甲乙双方约定拍摄的总费用需要一次性支付套餐费用的80%，拍摄完成后支付全部余款。</p>
		<p>7、甲方应按照合同的规定向乙方及时给付预付款，提供本视频的制作资料，以及乙方所需的各类图片和文字资料。如果甲方未及时给付预付款，提供上述资料致使乙方不能及时开展工作，因此给甲方造成的工作延误或影响, 乙方不承担任何损失或责任；由此造成乙方的损失由甲方负责赔偿, 甲方并不得因此而拒绝付款。</p>
		<p>8、 在拍摄过程中，需要进行在原定方案之外的改动，均需双方另行商议解决，由甲方确认方可，因改动而所需增加之费用和时间由甲方承担，如是乙方改动或违约造成甲方经济损失, 乙方应负责赔偿。</p>
		<p>9、 甲乙双方对合作过程中出现的任何问题应共同协商解决，任何一方不得中途擅自终止及解除合同。已付之款项, 乙方不予退回；乙方中途解除协议，除退还甲方已支付全部款项外，还须支付本合同全部费用的20%作为违约金。</p>
		<p>10、若甲方逾期七个工作日仍未付款，则须自本合同约定的付款时间起算，每日按拖欠金额的千分之五向乙方支付滞纳金。若乙方在商定的交片日期未交片且逾期七个工作日仍未交付完成片，则须自本合同约定的交付时间起算，每日按合同总款的千分之五向甲方支付滞纳金。</p>
		<p>11、不可抗力：如因不可预见，不能避免并不能克服的客观原因，包括但不限于自然灾害、意外事件、政府行为造成延误，交货时间顺延。</p>
		<p>12、本合同未尽事宜，甲乙双方应当签订书面补充协议，本合同自甲乙双方签字盖章之日起生效。</p>
		<p>13、甲乙双方如因履行本协议发生纠纷，应友好协商解决，如无果则提请法律途径解决。</p>
		<div class="line">北京中天摇篮网络科技有限公司</div>
	</body>
</html>
