<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		
		<form method="post" enctype="multipart/form-data"  action="__CONTROLLER__/setInfo">
			
			<p>
				user_id:
				<input type="text" name="user_id" />
			</p>

			<p>
				nickname:
				<input type="text" name="nickname" />
			</p>

			<p>
				sign:
				<input type="text" name="sign" />
			</p>

			<p>
				sex:
				<input type="text" name="sex" />
			</p>

			<p>
				age:
				<input type="text" name="age" />
			</p>

			<p>
				label_id:
				<input type="text" name="label_id" />
			</p>

			<p>
				province_id:
				<input type="text" name="province_id" />
			</p>

			<p>
				city_id:
				<input type="text" name="city_id" />
			</p>

			<p>
				district_id:
				<input type="text" name="district_id" />
			</p>

			<p>
				icon_path:
				<input type="file" name="icon_path" />
			</p>







			
			
			<p>
				<input type="submit" name="" value="submit"/>
			</p>
		</form>
		
	</body>
</html>
