<!DOCTYPE html>
<html lang="en">
	
<frameset rows="50px,*" border="0" frameborder="0" framespacing="0">
	<frame src="__CONTROLLER__/top" noresize="noresize" marginwidth="0px" marginheight="0px" name="top">
	<frameset cols="230px,*" border="0" frameborder="0" framespacing="0">
		<frame src="__CONTROLLER__/left" noresize="noresize" marginwidth="0px" marginheight="0px" name="left">
		<frame src="__MODULE__/Welcome/welcome" noresize="noresize" marginwidth="0px" marginheight="0px" name="right">
	</frameset>
	
	<noframes><body>您的浏览器无法处理框架！</body></noframes>
</frameset>

</html>
	
	
	
	
<!--<body>
	
	
	
<div class="container-fluid">
	<div class="row">
		
		<div class="col-xs-2 sk_col" >
			<include file="Index/left" collapseIn="collapseTwo" />
			
		</div>
		
		
		<div class="col-xs-10 sk_col" style="background-color: red;">
			<iframe src="left1.html#collapseFour" height="800px" width="100%" marginheight="0px" marginwidth="0px" frameborder="0" scrolling="auto"></iframe>
		</div>
	</div>
</div>
	
	

</body>



</html>-->