<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>Video Add</title>
    <!--<link href="{$Think.const.ADMIN_PUBLIC_CSS}bootstrap.min.css" rel="stylesheet" type="text/css">-->
    <link rel="stylesheet" type="text/css" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
    <link href="{$Think.const.ADMIN_PUBLIC_CSS}sk_common.css" rel="stylesheet">
    <script src="{$Think.const.ADMIN_PUBLIC_JS}jquery-2.2.4.min.js"></script>
    <script src="{$Think.const.ADMIN_PUBLIC_JS}bootstrap.min.js"></script>
    <script type="text/javascript">
    	$(document).ready(function(){			
	
			$("#title").focus(function(){
				$("#alert").html('');
			});
			$("#introduce").focus(function(){
				$("#alert").html('');
			});
			$("#duration").focus(function(){
				$("#alert").html('');
			});
			$("#cover_path").focus(function(){
				$("#alert").html('');
			});
			$("#svideo_path").focus(function(){
				$("#alert").html('');
			});
			$("#hvideo_path").focus(function(){
				$("#alert").html('');
			});
			
			$("#addLink").click(function(){		
				var title = $("#title").val();
				var introduce = $("#introduce").val();
				var duration = $("#duration").val();
				var cover_path = $("#cover_path").val();
				var svideo_path = $("#svideo_path").val();
				var hvideo_path = $("#hvideo_path").val();
				if(title==""||title==null||introduce==""||introduce==null||duration==""||duration==null||cover_path==""||cover_path==null||svideo_path==""||svideo_path==null||hvideo_path==""||hvideo_path==null){
					$("#alert").html('<span style="color:#F39C12" class="glyphicon glyphicon-exclamation-sign"></span>&nbsp;&nbsp;Incomplete information!');
				}
				else{
					$("#addForm").submit();
				}
			});
			
    	});
    </script>
</head>
<body>

<div class="container-fluid" style="padding: 15px;">
	<div class="row">
		<div class="col-xs-6 sk_col text-left" style="font-size: 14px;">
			<span class="glyphicon glyphicon-tags"></span>&nbsp;&nbsp;<b>视频样片</b>&nbsp;&nbsp;<small style="color: #999999;">Video management</small>
		</div>
		<div class="col-xs-6 sk_col text-right" style="color: #444444;">
			<span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;Home&nbsp;&nbsp;&rsaquo;&nbsp;&nbsp;
			<span class="glyphicon glyphicon-facetime-video"></span>&nbsp;&nbsp;Video&nbsp;&nbsp;&rsaquo;&nbsp;&nbsp;
			Add
		</div>
	</div>
	
	<div class="row" style="margin-top: 15px;">
		<!-- 表单开始 -->
		<form id="addForm" method="post" enctype="multipart/form-data" action="__CONTROLLER__/addDo/p/{$pageNow}/where/{$where}/order/{$order}" style="margin: 0px; padding: 0px;">
		
		<!-- add left-->
		<div class="col-xs-6 sk_col" style="padding-right: 5px;">
			<div class="sk_option_back" style="border-top-color: #3C8DBC;">
				
				<div class="row" style="height:30px; line-height:30px;border-bottom: 1px dotted #EEEEEE; margin-bottom: 15px;">
					<div class="col-xs-6 sk_col">添加一个视频</div>
					<div class="col-xs-6 sk_col text-right" id="alert"></div>
				</div>
				
				<div class="form-group">
					<label for="title">视频标题</label>
					<input type="text" class="form-control sk_input" id="title" name="title" maxlength="50" placeholder="人生第一次领悟">
				</div>
				
				<div class="form-group">
					<label for="introduce">视频介绍</label>
					<textarea class="form-control" rows="5" id="introduce" name="introduce"></textarea>
				</div>
				
				<div class="form-group">
					<label for="duration">视频时长</label>
					<input type="text" class="form-control sk_input" id="duration" name="duration" maxlength="50" placeholder="00:05:30">
				</div>
				
				<div class="form-group">
					<label for="theme_id">所属主题</label>
					<select class="form-control sk_input" id="theme_id" name="theme_id">
						<foreach name="themeData" item="v">
							<option value="{$v.id}">{$v.name}</option>
						</foreach>
					</select>
				</div>
				
				<div class="form-group">
    				<label for="cover_path">视频封面</label>
    				<input type="file" id="cover_path" name="cover_path">
  				</div>
				<span class="help-block sk_help_block"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;支持jpg、png、bmp格式图像 750x335 不超过120k</span>
				
				<div class="form-group">
					<label for="locally">视频文件存放位置</label>
					<select class="form-control sk_input" id="locally" name="locally">
						<option value="1" selected="selected">本地服务器</option>
						<option value="0">第三方支持</option>
					</select>
					<span class="help-block sk_help_block"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;不同的存放位置 决定后面文件地址填写的差别</span>
				</div>
		

			</div>
		</div>
		
		<!-- add right-->
		<div class="col-xs-6 sk_col" style="padding-left: 5px;">
			<div class="sk_option_back" style="border-top-color: #3C8DBC;">
				
				<div class="row" style="height:30px; line-height:30px;border-bottom: 1px dotted #EEEEEE; margin-bottom: 15px;">
				</div>
				
				<div class="form-group">
					<label for="svideo_path">标清视频地址</label>
					<input type="text" class="form-control sk_input" id="svideo_path" name="svideo_path" maxlength="200">
				</div>
				<span class="help-block sk_help_block">
					<span class="glyphicon glyphicon-info-sign"></span><br />
					服务器本地存放视频文件时请确保文件真实存在<br />
					地址格式范例：SnailKids/Public/Upload/Video/SVideo/20160612_23S.mp4<br />
					第三方存放文件时范例：http://v.youku.com/storage/235667/20160612_23S.mp4
				</span>
				
				<div class="form-group">
					<label for="hvideo_path">高清视频地址</label>
					<input type="text" class="form-control sk_input" id="hvideo_path" name="hvideo_path" maxlength="200">
				</div>
				<span class="help-block sk_help_block">
					<span class="glyphicon glyphicon-info-sign"></span><br />
					服务器本地存放视频文件时请确保文件真实存在<br />
					地址格式范例：SnailKids/Public/Upload/Video/HVideo/20160612_23S.mp4<br />
					第三方存放文件时范例：http://v.youku.com/storage/235667/20160612_23H.mp4
				</span>
				
				<div class="form-group">
					<label for="enable">视频可用性</label>
					<select class="form-control sk_input" id="enable" name="enable">
						<option value="1">上线</option>
						<option value="0">下线</option>
					</select>
					<span class="help-block sk_help_block"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;下线的节目内容将不会出现在应用程序中</span>
				</div>
				
				<div class="form-group">
					<a id="addLink" class="btn-primary sk_submitbtn" href="#"><span class="glyphicon glyphicon-edit"></span>&nbsp;&nbsp;添加 add</a>
					<a id="back" class="btn-warning sk_submitbtn" href="__CONTROLLER__/index/p/{$pageNow}/where/{$where}/order/{$order}"><span class="glyphicon glyphicon-share"></span>&nbsp;&nbsp;放弃 back</a>
				</div>
				
			</div>
		</div>
		</form><!-- 表单结束 -->
		
	</div>
	
</div>

</body>
</html>