<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		
		
		你好
		<video width="100%" height="auto" poster="http://101.201.105.130/SnailKids/Public/Upload/Video/Cover/201606/1466771377_24.jpg" preload controls="controls">
			<!-- MP4 must be first for iPad! -->
			<source src="http://101.201.105.130/SnailKids/Public/Upload/Video/HVideo/20160715_michael.mp4" type="video/mp4"  /><!-- Safari / iOS, IE9 -->
			<!-- fallback to Flash: -->
			<object width="100%" height="auto" type="application/x-shockwave-flash" data="video/player.swf">
				<!-- Firefox uses the `data` attribute above, IE/Safari uses the param below -->
				<param name="movie" value="video/player.swf" />
				<param name="flashvars" value="autostart=true&amp;controlbar=over&amp;image=poster.jpg&amp;file=video/demo0.mp4.mp4" />
				<!-- fallback image -->
				<img src="video/thumb0.jpg" width="100%" height="auto" alt="Big Buck Bunny"
	     			title="No video playback capabilities, please download the video below" />
			</object>
		</video>

		
		
	</body>
</html>
