<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		
		<form method="post" enctype="multipart/form-data"  action="__CONTROLLER__/comment">
			
			<p>
				user_id:
				<input type="text" name="user_id" />
			</p>

			<p>
				video_id:
				<input type="text" name="video_id" />
			</p>

			<p>
				comment:
				<textarea name="comment" ></textarea>
			</p>






			
			
			<p>
				<input type="submit" name="" value="submit"/>
			</p>
		</form>
		
	</body>
</html>
